/* src/components/Button.module.css */

.primaryButton {
  /* Vos styles CSS ici */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.primaryButton:hover {
  background-color: #0056b3;
}